# Python
__pycache__/
*.pyc
.venv/
.env

# Airflow
airflow/logs/
airflow_setup/logs/
logs/
airflow/plugins/__pycache__/
airflow/.env

# dbt
dbt_project/target/
dbt_project/logs/

# Mac
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/